<img style="float: right; margin: 0px 0px 15px 15px;" src="https://upload.wikimedia.org/wikipedia/commons/9/9b/Social_Network_Analysis_Visualization.png" width="300px" height="100px" />
# <font color = pink> Tarea #1. </font>

# Profesor: 
- ### <font color = darkblue> *Oscar David Jaramillo Zuluaga* </font>

# Integrantes:
- ### <font color = darkblue> *Israel Martínez Sánchez* </font>
- ### <font color = darkblue> *Diana Chavez Jacobo* </font>

 ## <font color = skyblue> ¿Qué esperas de la materia? </font>

Espero de la materia poder ser capaz de realizar simulaciones de procesos financieros mediante diseñar, formular, estructurar, solucionar y dar recomendaciones sobre procesos de simulación financiera para la toma de decisiones, estructurando estrategias dinámicas y políticas apropiadas al sistema.

Como por ejemplo realizar dichas simulaciones sobre valores, portafolios, créditos, opciones, intereses, monedas, precios bajo incertidumbre y riesgos.

## Ecuación:

\begin{equation}\\
\sum_{k=1}^{n}uk(1+rk)+(1+r)
(1-\sum uk)=(1+r)+
\sum uk(rk-r)   
\left( \left( 1 \right)\right)
\end{equation}

In [2]:
import pandas as pd
import pandas_datareader.data as web
import numpy as np
import datetime
from datetime import datetime

Tabla con codigo

In [4]:
df_53 = pd.DataFrame(np.arange(0, 15).reshape(5, 3),
                    index = ['a', 'b', 'c', 'd', 'e'],
                     columns = ['c1', 'c2', 'c3']); df_53

   c1  c2  c3
a   0   1   2
b   3   4   5
c   6   7   8
d   9  10  11
e  12  13  14

Tabla con MarkDown

|Día|Mes|
|---|---|
|Lunes|Agosto|
|Martes|Septiembre|
|Miércoles|Octubre|